<div class="wrapper">
  <%= simple_form_for @book do |f| %>
  <%= f.input :title %>
  <%= f.collection_select :author_id, Author.all, :id, :name, input_html: { class: 'select'} %><be/>
  <%= f.collection_select :category_id, Category.all, :id, :title %>
  <%= f.input :desc, as: :text %>
  <%= f.input :image_id, as: :file, multiple: true %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= check_box_tag 'I understand', id: 'check'%>
  <%= f.submit 'Create new book', class: 'btn btn-primary', id: 'confirm' %>
<% end %>
</div>

<script>
  $('#check').click(function() {
        if ($(this).is(':checked')) {
            $('#confirm').attr('disabled', 'disabled');
        } else {
            $('#confirm').removeAttr('disabled');
        }
    });
</script>