<div class="wrapper">
  <%= simple_form_for @book do |f| %>
  <%= f.input :title %>
  <%= f.collection_select :author_id, Author.all, :id, :name, input_html: { class: 'select'} %><be/>
  <%= f.collection_select :category_id, Category.all, :id, :title %>
  <%= f.input :desc, as: :text %>
  <%= f.input :image_id, as: :file %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit 'Create new book', class: 'btn btn-primary' %>
<% end %>
</div>